@using Api.Rendering.Layouts
@layout Layout

<p class="alert alert-succes"> You have successfully registered!</p>
<p>Check your email for a link to confirm your email address</p>

<a href="/auth/log-in">Log in</a>